.flex-container > div {

    display: flex;
    background-color: DodgerBlue;
    color: white;
    margin-top: 40px;
    text-align: center;
    font-size: 10px;
    font-size: 30px;
    border-color: black;
    height:350px;
    flex-direction: row;
    
}

