.product-type{
display: block; 
margin: 0 auto;   
width: 814px;
height: 82px;
flex-shrink: 0;
border-radius: 10px;
border-top: 5px solid #FF1F58;
border-right: 1px solid #FF1F58;
border-bottom: 5px solid #FF1F58;
border-left: 1px solid #FF1F58;
background: #FFF;
font-size: large;
text-align: center; 
margin-bottom: 20px;
}

.product-name{
    display: block; 
    margin: 0 auto;   
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    font-size: large;
    text-align: center; 
    margin-bottom: 20px;
    }
    
    .image{

        display: block; 
        margin: 0 auto; 
       
    }

    .flex-container {
        width:fit-content; 
        margin-left :70px; 
        display: flex;
        flex-direction: row;
        gap:40px;
        margin-top: 0px; 
        margin-bottom: 0px;
        
        
        
    }

    .submitButton{
        color: var(--Dark-Tertiary, #42CAFD);
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #42CAFD;
        font-family: Figtree;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right:10px;
        margin-top: 0px;
    }

    .description{
        display: block; 
     
        width: 553px;
        height: 263px;
        border-radius: 10px;
        border-top: 5px solid #FF1F58;
        border-right: 1px solid #FF1F58;
        border-bottom: 5px solid #FF1F58;
        border-left: 1px solid #FF1F58;
        background: #FFF;
        font-size: large;
        text-align: center; 
        }

        .price{
            display: block; 
            width: 292px;
            height: 132px;
            
            border-radius: 10px;
            border-top: 5px solid #FF1F58;
            border-right: 1px solid #FF1F58;
            border-bottom: 5px solid #FF1F58;
            border-left: 1px solid #FF1F58;
            background: #FFF;
            font-size: large;
            text-align: center; 
            margin-top: 0px;
            }
            
        
        