.photo-button {
    background-color: #ffd4d9; 
    border: none;              
    border-radius: 10px;    
    font-family: Figtree;
    font-size: 500px;
    color: #ff1f58;
    cursor: pointer;           
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 95px;
    position: relative;
    width: 360px;
    height: 360px;
  }
  
  .photo-button:hover {
    background-color: #ff1f58; /* Darker shade on hover */
    color: #ffd4d9; 
  }